.container {
  padding: 0 50px;
  display: flex;
  flex-direction: column;
}

.head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  vertical-align: center;
  padding: 30px 0;
}

.title {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 30px;
  color: #101d23;
}

.arrows {
  display: flex;
  gap: 20px;
}

.GoodsProjects {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px 0 80px 0;
}

.left {
  transform: rotate(180deg);
}

.miniFlex {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.bigFlex {
  display: flex;
  gap: 15px;
}

.bigFlex:hover {
  cursor: pointer;
  transition: 0.3s;
}

.bigFlex:hover .miniText {
  color: #e93d07;
  transition: 0.3s;
}
.bigFlex:hover .arrow {
  border: 1px solid #e93d07;
  transition: 0.3s;
}

.miniTitle {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: #8e8f9b;
}

.miniText {
  margin: 0;
  text-align: right;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
}

.arrow {
  border: 1px solid #101d23;
  padding: 0 7px;
}
