.form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 120px;
}

.select {
  border-radius: 20px;
  font-weight: 600;
  font-size: 9px;
  line-height: 0%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: #8e8f9b;
  padding: 5px 20px;
  margin: 0;
}

.option {
  padding: 0;
}
