.btn {
  background-color: #e93d07;
  color: white;
  border: 1px solid #e93d07;
  border-radius: 20px;
  padding: 7px 15px;
  width: 150px;
  margin: 0 auto;
}

.btn:hover {
  background-color: black;
  border-color: black;
}

.send {
  background-color: #fff;
  color: #e93d07;
  border: 1px solid #e93d07;
  border-radius: 20px;
  padding: 7px 15px;
  width: 150px;
  margin: 0 auto;
  width: 200px;
}

.send:hover {
  border: 1px solid #fff;
  background-color: #e93d07;
  color: #fff;
  cursor: pointer;
}
