.container {
  margin: 50px;
  padding: 50px;
  background-color: #f3f6f8;
  font-family: "Montserrat", sans-serif;
}

.title {
  margin: 0;
  font-weight: 500;
  font-size: 32px;
  color: #101d23;
}

.label {
  font-weight: 400;
  font-size: 14px;
  color: #101d23;
}

.input {
  border-radius: 20px;
}

.flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  height: 100px;
  gap: 15px;
}

.miniFlex {
  display: flex;
  width: 25%;
  justify-content: space-between;
}
