.container {
  padding: 0 50px 50px 50px;
  background: #f3f6f8;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 30px;
  color: #101d23;
}

.text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 155%;
  color: #101d23;
  column-count: 2;
}
