.title {
  padding: 50px 50px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 30px;
  line-height: 135%;
  letter-spacing: 0.02em;
  color: #101d23;
  background-color: #f3f6f8;
  margin: 0;
}
