.container {
  padding: 0px 50px;
}
.formContainer {
  display: flex;
  justify-content: space-between;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 30px;
  color: #101d23;
}

.miniFlex {
  display: flex;
  flex-direction: column;
}

.error {
  margin: 5px 0;
  color: #e93d07;
  text-align: center;
}

.answer {
  display: flex;
  gap: 30px;
  flex-direction: column;
  margin-top: 20px;
}

.miniInput {
  width: 50px;
  height: 30px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  font-size: 9px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: #8e8f9b;
  border-radius: 20px;
}

.miniLabel {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 12px;
  line-height: 135%;
  color: #101d23;
  width: 260px;
}

.info {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.04em;
  color: #101d23;
  margin: 0;
  margin-top: auto;
}

.formHead {
  display: flex;
  justify-content: space-between;
}
